# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.venv/

# Project Data
DL/

# Django
*.log
db.sqlite3
/media/
/staticfiles/
/DL/
/louisphilippe_auth.token/
/flickrapi_auth.token/
/cchic_auth.token/


# Secrets
token.json
DL/credentials/gmail_desktop_client.json
chat_token.json
*.env

# IDEs and Editors
.idea/
.vscode/
*.swp

# OS-specific
.DS_Store

# Notebooks & Data
*.ipynb
*.pickle

# Database Backups
*.sql
