{% extends "base.html" %}

{% block title %}Protagonists{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Protagonists</h1>
    <div class="list-group">
        {% for protagonist in protagonists %}
            <a href="{% url 'protagonist_manager:protagonist_detail' protagonist.pk %}" class="list-group-item list-group-item-action">
                {{ protagonist.get_full_name }} ({{ protagonist.role }})
            </a>
        {% empty %}
            <p>No protagonists found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
